<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <%= image_tag "cinema", alt: "Cinema Logo", width: 40%>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a new list", new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>

  </div>
</div>

<h1>Lists</h1>
<% @lists.each do |list|%>
  <%= link_to list_path(list) do%>
    <p><%=list.name %></p>
  <% end %>
<% end %>
<%= link_to new_list_path do %>
  <p><i class="fa-regular fa-plus"></i>Add a new list</p>
<% end %>
